body {
    font-family: Arial;    
}

p {
  font-style: italic;
  margin-bottom: 10px; 
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 1em;
}

#list {
    visibility: hidden;
}

.blue {
    color: blue;
    font-weight: bold;
    display: inline;
}

.note {
    color: aqua;
    background-color: blue;
    padding: 10px;
}